{% extends "sim_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% if contact.contactprofile.facility %}{{ contact.contactprofile.facility }} - {% endif %}
    {{ contact.name }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% with contact.contactprofile.facility as facility %}
        {% if facility %}
            {% with facility.hierarchy_node as node %}
                {% include "include/breadcrumbs.html" %}
            {% endwith %}
        {% else %}
            {% include "include/breadcrumbs.html" %}
        {% endif %}
    {% endwith %}
</ol>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>
                {{ contact }} &nbsp;
                <small>{{ contact.contactprofile.get_phone_number }}</small>
            </h1>
            <h4>
                {{ contact.contactprofile.get_role_name_display }} &nbsp;
                <small>
                    {% comment %}This is a hack to get the name of the contact's language in the user's language. Adding a context value containing dict(LANGUAGE) is a possible alternative{% endcomment %}
                    {% for code, name in LANGUAGES %}
                        {% if code == contact.language %}
                            {% blocktrans with lang_name=name%}Prefers {{ lang_name }}{% endblocktrans %}
                        {% endif %}
                    {% endfor %}
                </small>
            </h4>
        </div>

        <div class="col-sm-4 text-right">
            <div class="btn-group">
                <a href="{% url "moderation.views.contact_edit" contact.pk %}" class="btn btn-default" role="button">{% trans "Edit Contact" %}</a>
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>

                <ul class="dropdown-menu text-left" role="menu">
                    <li>
                        <form action="{% url "moderation.views.contact_dismiss" contact.pk %}" method="post">
                            {% csrf_token %}
                            <a class="submit-link" href="#">{% trans "Dismiss All Messages" %}</a>
                        </form>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">{% trans "Delete Contact" %}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <!-- Message Log -->
        <div class="col-md-12">
            {% for wrapper in wrapped_messages %}
                {% include "include/message.html" %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}