{% extends "sim_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% if contact.contactprofile.facility %}{{ contact.contactprofile.facility }} - {% endif %}
    {{ contact.name }} -
    {% trans "Edit Contact" %}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% with _("Edit Contact") as contact_action %}
        {% with contact.contactprofile.facility as facility %}
            {% if facility %}
                {% with facility.hierarchy_node as node %}
                    {% include "include/breadcrumbs.html" %}
                {% endwith %}
            {% else %}
                {% include "include/breadcrumbs.html" %}
            {% endif %}
        {% endwith %}
    {% endwith %}
</ol>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans "Edit Contact" %}</h1>
        </div>
    </div>

    <hr />

    <div class="row">
        <!-- Edit Form -->
        <div class="col-md-8">
            {{ form|crispy }}
        </div>

        <!-- Recent Changes -->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Recent Changes" %}</div>
                <p class="text-center">TODO: Add changes</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}