{% extends "sim_base.html" %}
{% load i18n %}

{% block title %}{{ facility }}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% with facility.hierarchy_node as node %}
        {% include "include/breadcrumbs.html" %}
    {% endwith %}
</ol>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>{{ facility }}</h1>
            {{ facility.description }}
        </div>
        <div class="col-sm-4">
            {% if user.moderator_profile.facility != facility %}
                {% with _("Make this facility my default") as affiliation_message %}
                    {% with facility as affiliation_facility %}
                        {% include "include/affiliation_form.html" %}
                    {% endwith %}
                {% endwith %}
            {% else %}
                {% with _("This facility is your default") as affiliation_message %}
                    {% include "include/affiliation_home.html" %}
                {% endwith %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">{% trans "Pending Moderation" %}</div>
                {% with facility.moderation_contacts as moderation_contacts %}
                    {% include "include/moderation_contact_list.html" %}
                {% endwith %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Sub-Regions" %}</div>
                {% include "include/node_list.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}