{% extends "sim_base.html" %}
{% load i18n %}

{% block title %}{{ facility }}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% with facility.hierarchy_node as node %}
        {% include "include/breadcrumbs.html" %}
    {% endwith %}
</ol>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>{{ facility }}</h1>
            {{ facility.description }}
        </div>
        <div class="col-sm-4">
            {% if user.moderator_profile.facility != facility %}
                {% with _("Make this facility my default") as affiliation_message %}
                    {% with facility as affiliation_facility %}
                        {% include "include/affiliation_form.html" %}
                    {% endwith %}
                {% endwith %}
            {% else %}
                {% with _("This facility is your default") as affiliation_message %}
                    {% include "include/affiliation_home.html" %}
                {% endwith %}
            {% endif %}
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">{% trans "Pending Moderation" %}</div>
                {% with facility.moderation_contacts as moderation_contacts %}
                    {% include "include/moderation_contact_list.html" %}
                {% endwith %}
            </div>
        </div>

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Contacts" %}</div>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Role" %}</th>
                                <th>{% trans "Connection" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cp in facility.contactprofile_set.all %}
                                <tr>
                                    <td><a href="{% url "moderation.views.contact" cp.pk %}">{{ cp.contact }}</a></td>
                                    <td>{{ cp.get_role_name_display }}</td>
                                    <td>
                                        {{ cp.get_phone_number }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}