{% extends "sim_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% if contact.contactprofile.facility %}{{ contact.contactprofile.facility }} - {% endif %}
    {{ contact.name }} -
    {% trans "Resend Message" %}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% with _("Resend Message") as contact_action %}
        {% with contact.contactprofile.facility as facility %}
            {% if facility %}
                {% with facility.hierarchy_node as node %}
                    {% include "include/breadcrumbs.html" %}
                {% endwith %}
            {% else %}
                {% include "include/breadcrumbs.html" %}
            {% endif %}
        {% endwith %}
    {% endwith %}
</ol>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans "Resend Message" %}</h1>
        </div>
    </div>

    <hr />

    <div class="row">
        <!-- Edit Form -->
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="id_sender" class="control-label requiredField">
                {% trans "Contact" %}
                </label>
                <input class="form-control" id="id_sender" type="text" placeholder="{{ contact }}" disabled>
            </div>
            <div class="form-group">
                <label for="id_phone_number" class="control-label requiredField">
                {% trans "Phone Number" %}
                </label>
                <input class="form-control" id="id_phone_number" type="text" placeholder="{{ contact.contactprofile.get_phone_number }}" disabled>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
            <button type="submit" class="btn btn-primary">{% trans "Send Message" %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}