{% extends "sim_base.html" %}
{% load i18n %}

{% block title %}{% include "include/breadcrumbs.html" %}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    {% include "include/breadcrumbs.html" %}
</ol>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">{% trans "Regions" %}</div>
                {% include "include/node_list.html" %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="input-group input-group-md">
                <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                <button type="button" class="btn btn-default btn-block">{% trans "Make this page my default" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}