{% extends "sim_base.html" %}

{% block title %}Edit User{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="{% url "moderation.views.node" 1 %}">United States</a></li>
    <li><a href="{% url "moderation.views.node" 2 %}">Washington</a></li>
    <li><a href="{% url "moderation.views.node" 3 %}">Seattle</a></li>
    <li><a href="{% url "moderation.views.facility" 1 %}">UW Medical Center</a></li>
    <li><a href="{% url "moderation.views.user_summary" 1 %}">User 1</a></li>
    <li class="active">Edit User</a>
</ol>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Edit User 1</h1>
    <p>A form goes here for editing this user</p>
    <a href="{% url "moderation.views.facility" 1 %}" class="btn btn-primary active" role="button">Save User</a>
</div>
{% endblock %}