{% comment %}
This template generates breadcrumb list elements. It uses the following context keys, any of which
may be undefined:

node: The current node.
facility: A facility associated with node
contact: A contact associated with facility
contact_action: An action being performed on contact
{% endcomment %}

<!-- The "root" node -->
{% if node %}
    <li><a href="{% url "moderation.views.root_nodes" %}">{% include "include/country.html" %}</a></li>
{% else %}
    <li class="active">{% include "include/country.html" %}</li>
{% endif %}

<!-- The administrative hierarchy (1 or more nodes) -->
{% if node %}
    {% for n in node.root_path reversed %}
        {% if not facility and forloop.last %}
            <li class="active">{{ n }}</li>
        {% else %}
            <li><a href="{% url "moderation.views.node" n.pk %}">{{ n }}</a></li>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- The facility -->
{% if facility %}
    {% if contact %}
        <li><a href="{% url "moderation.views.facility" facility.pk %}">{{ facility }}</a></li>
    {% else %}
        <li class="active">{{ facility }}</li>
    {% endif %}
{% endif %}

<!-- The contact -->
{% if contact %}
    {% if contact_action %}
        <li><a href="{% url "moderation.views.contact" contact.pk %}">{{ contact }}</a></li>
    {% else %}
        <li class="active">{{ contact }}</li>
    {% endif %}
{% endif %}

<!-- The being applied to the contact -->
{% if contact_action %}
    <li class="active">{{ contact_action }}</li>
{% endif %}