{% load i18n %}
<table class="table">
    <tbody>
        {% if facilities %}
            {% for f in facilities %}
                <tr>
                    <td><a href="{% url "moderation.views.facility" f.pk %}">{{ f }}</a></td>
                    <td class="text-right"><span class="label label-danger">2 pending</span></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td class="text-center">{% trans "No Facilities" %}</td></tr>
        {% endif %}
    </tbody>
</table>