{% load i18n %}
<table class="table">
    <tbody>
        {% if moderations %}
            {% for m in moderations %}
                <tr>
                    <td><a href="{% url "moderation.views.node" n.pk %}">{{ m }}</a></td>
                    <td class="text-right"><span class="label label-danger">1 pending</span></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td class="text-center">{% trans "No users require moderation" %}</td></tr>
        {% endif %}
    </tbody>
</table>