body {
  width: 90%;
  margin: 0 auto;
  font-size: 1em;
  font-family: Arial, Verdana, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Garamond, Georgia, serif;
}

/* Any code tag whose parent is NOT a pre tag */
:not(pre) > code {
  background-color: #fafafa;
  border: solid 1px #efeee6;
  padding: 1px 3px;
}

pre {
  margin-left: 2em;
  background-color: #fafafa;
  border: solid 1px #efeee6;
  width: 75%;
  padding: 0.5em;
}

p+ul, p+ol {
  margin-top: -0.6em;
}

a, a:visited {
  text-decoration: none;
  color: #04c;
}