{% extends "prototype-base.html" %}

{% block title %}{{ facility }}{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/prototype/">Facilities</a></li>
        <li>{{ facility.name }}</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ facility.name }}</h1>
    <p>Some more description of this facility</p>
    <address>
        <strong>Example Address</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">Moderations</div>
                <div class="panel-body">
                    {% include "include/moderations_list.html" %}
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Users</div>
                <div class="panel-body">
                    {% with users=facility.phoneuser_set.all %}
                        {% include "include/user_list.html" %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}