{% extends "prototype-base.html" %}

{% block title %}Home{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <ol class="breadcrumb">
        <li class="active">Facilities</li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">Global Moderations</div>
                <div class="panel-body">
                    {% include "include/moderations_list.html" %}
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Global Users</div>
                <div class="panel-body">
                    {% include "include/user_list.html" %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Facilities</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Users</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for f in facilities %}
                        <tr>
                            <td><a href="{{ f.get_absolute_url }}">{{ f }}</a></td>
                            <td>{{ f.phoneuser_set.all.count }}</td>
                            <td>
                                {% if f.pending_actions.count %}
                                <span class="label label-danger">{{ f.pending_actions.count }} pending</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}