{% extends "moderator-base.html" %}

{% block title %}Message #{{ message.pk }}{% endblock %}

{% block breadcrumbs %}
{% with node=message.user.heirarchy_node %}
    {% include "include/breadcrumbs.html" %}
{% endwith %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 panel">
            <div class="panel {% if message.user.moderation_hold %}panel-danger {% else %}panel-success{% endif %}">
                <div class="panel-heading">User Details</div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>Name</td>
                            <td>{{ message.user.name }}</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>{{ message.user.number }}</td>
                        </tr>
                        <tr>
                            <td>Administrative Entity</td>
                            <td>{{ message.user.heirarchy_node }}</td>
                        </tr>
                    </table>
                    <p class="text-center"><button type="button" class="btn btn-default">Edit User Information</button></p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel {% if message.moderation_hold %}panel-danger {% else %}panel-success{% endif %}">
                <div class="panel-heading">Message Details</div>
                <div class="panel-body">
                    {% for item in message.conversation %}
                        {% include item.conversation_template %}
                    {% endfor %}
                    {% if message.moderation_hold %}
                        <p class="text-center"><button type="button" class="btn btn-danger">Approve Message</button></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}