{% extends "sim_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1 class="text-center">{% include "include/brand.html" %}</h1>
</div>

<!-- Login Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">{% trans "Log In" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Language Selection Form -->
    <div class="row">
        <form class="form-inline" action="{% url 'set_language' %}" method="post" role="form">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <label class="col-sm-2 col-sm-offset-4 control-label" for="language-select">{% trans "Language" %} </label>
            <div class="col-sm-2">
                <select class="form-control" name="language" id="language-select">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ language.name_local }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
</div>
{% endblock %}