{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% include "include/brand_abbrev.html" %} - {% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for SIM -->
        <link href="/static/css/custom.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- Navigation Bar -->
        {% block navbar %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{% include "include/brand.html" %}</a>
                </div>

                 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">
                            {% blocktrans with request.user as name %}Settings for {{ name }}{% endblocktrans %}
                        </a></li>
                        <li><a href="{% url "logout" %}">{% trans "Log out" %}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}

        <!-- Breadcrumbs -->
        <div class="container">
            {% block breadcrumbs %}{% endblock %}
        </div>

        <!-- Page Content -->
        <div class="container">
            {% block content %}{% endblock %}
        </div>


        <!-- Bootstrap core JavaScript -->
        <script src="/static/js/jquery-1.11.0.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>
