{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% include "include/brand_abbrev.html" %} - {% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for SIM -->
        <link href="/static/css/custom.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- Navigation Bar -->
        {% block navbar %}
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand Name -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">{% trans "Toggle navigation" %}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{% include "include/brand.html" %}</a>
                </div>

                <div class="collapse navbar-collapse">

                    <!-- Language Selection (left-justified) -->
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ LANGUAGE_NAME }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% get_language_info_list for LANGUAGES as language_info %}
                                {% for l in language_info %}
                                    <li>
                                        <form action="{% url 'set_language' %}" method="post" role="form">
                                            {% csrf_token %}
                                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                                            <input name="language" type="hidden" value="{{ l.code }}" />
                                            <a href="#" class="submit-link">
                                                {% if l.code == LANGUAGE_CODE %}<strong>{% endif %}
                                                {% if l.code == user.moderator_profile.language %}
                                                    {% blocktrans with l.name_local as language %}{{ language }} (default){% endblocktrans %}
                                                {% else %}
                                                    {{ l.name_local }}
                                                {% endif %}
                                                {% if l.code == LANGUAGE_CODE %}</strong>{% endif %}
                                            </a>
                                        </form>
                                    </li>
                                {% endfor %}
                                <li class="divider"></li>
                                <li>
                                    <form action="{% url 'set_default_language' %}" method="post" role="form">
                                        {% csrf_token %}
                                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                                        <input name="language" type="hidden" value="{{ LANGUAGE_CODE }}" />
                                        <a href="#" class="language-link">{% blocktrans with language=LANGUAGE_NAME %}Make {{ language }} my default language{% endblocktrans %}</a>
                                    </form>
                            </ul>
                        </li>
                    </ul>

                    <!-- Navigation Links (right-justified) -->
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_staff %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Administration" %} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "admin:index" %}">{% trans "Django Admin Site" %}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url "rapidsms-dashboard" %}">{% trans "RapidSMS Dashboard" %}</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        
                        <li><a>
                            {% blocktrans with request.user as name %}Logged in as {{ name }}{% endblocktrans %}
                        </a></li>

                        <li><a href="#">
                            {% trans "Change Password" %}
                        </a></li>
                        <li><a href="{% url "logout" %}">{% trans "Log Out" %}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}

        <!-- Messages -->
        {% block messages %}
            <div class="container">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert fade in {{ message.tags }}">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endblock %}

        <!-- Breadcrumbs -->
        <div class="container">
            {% block breadcrumbs %}{% endblock %}
        </div>

        <!-- Page Content -->
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="/static/js/jquery-1.11.0.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

        <!-- SIM-specific JavaScript-->
        <script src="/static/js/sim.js"></script>
    </body>
</html>
