{% if children %}
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Children</td>
            <td>Moderations</td>
        </tr>
    </thead>
    <tbody>
        {% for node in children %}
            <tr>
                <td><a href="{{ node.get_absolute_url }}">{{ node }}</a></td>
                <td>{{ node.children_count }}</td>
                <td>{{ node.moderations_count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="text-center">This region has no children</p>
{% endif %}