{% if moderations %}
<table class="table table-striped">
    <thead>
        <tr>
            <td>User</td>
            <td>Date</td>
            <td>Pending Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for u in moderations %}
            <tr>
                <td><a href="{{ u.get_absolute_url }}">{{ u }}</a></td>
                <td>{{ u.pending_actions.latest.date }}</td>
                <td><strong>
                    {% for a in u.pending_actions %}
                        {{ a.title }}{% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                </strong></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="text-center">No Moderations</p>
{% endif %}