.conversation-icon {
    font-size: 300%;
}

.large-icon {
    font-size: 200%;
}

/* Make bootstrap's dropdown list styling apply to links wrapped in forms,
   for the language selection menu. */

.dropdown-menu > li > form > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > form > a:hover,
.dropdown-menu > li > form > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}